<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156230246084-skj1vrubv6dvkn830t3q92lqebhim0b1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156230246084-skj1vrubv6dvkn830t3q92lqebhim0b1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>156230246084-be3tocu0ni7qf273up8hb3j7f88ppf8s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwkxIM9nlFV5k-G6CbkQUHU4LQFYL9vtY</string>
	<key>GCM_SENDER_ID</key>
	<string>156230246084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes2</string>
	<key>PROJECT_ID</key>
	<string>note-app-42459</string>
	<key>STORAGE_BUCKET</key>
	<string>note-app-42459.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156230246084:ios:b52d9d0d29619ee4333391</string>
</dict>
</plist>